<main>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Eat-Da-Burger!</h1>
        </div>
        
    <div class="col-lg-6">
        {{#each burgers}}
        {{#unless this.devoured}}
            <div>
            <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
            </form>
            </div>
        {{/unless}}
        {{/each}}
    </div>

    <div class="col-lg-6">
    {{#each burgers}}
        {{#if this.devoured}}
        <div class='burgerEaten'>
            <div>
            {{this.burger_name}}
            </div>
        </div>
        {{/if}}
    {{/each}}
    </div>
    </div>
    <h2>Add A Burger Option</h2>

    <div class="col-lg-12">
        <form action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Burger Name">
        <button type="submit" class="addBurgerButton">Add</button>
        </form>
    </div>
    </div>
</main>


